@model  restful_blog.Data.BlogPost

    <div class="post">
        <div class="post-header">
            <h4><a asp-page="./Details" asp-route-id="@Model.Id">@Model.Title</a></h4>
            <span>Posted: <time>@Model.CreatedAt</time></span>
        </div>
        <hr class="start" />
        <div class="post-body row">
            <div class="col-sm-12">
                <pre>@Model.Content</pre>
            </div>
        </div>
        <hr class="end" />
        <div class="post-footer row">
            <div class="col-sm-6">
                @if (Model.UpdatedAt.HasValue)
                {
                    <span>Edited: <time>@Model.UpdatedAt</time></span>
                }
            </div>
            <div class="col-sm-6 text-right">
                <a asp-page="./Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
    </div>